@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-weight: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1a202c;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    max-width: 130em;
}

.header {
    padding: 2em 0;
}

.header__box {
    display: flex;
    justify-content: space-between;
    justify-items: start;
}

.header__meta {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.header__meta-ui {
    display: flex;
}

.header__login {
    position: relative;
    margin-right: 2em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 0.2rem solid #715a77;
}

.header__login-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.header__login-ico {
    width: 3em;
    height: auto;
}

.header__login-ico_small {
    width: 2em;
}

.header__select {
    padding: 0.5em;
    font-weight: 900;
    font-size: 1.4em;
    background-color: #ffffff;
    cursor: pointer;
}

.header__select-option {
    font-weight: 900;
    font-size: 1em;
    text-transform: uppercase;
}

.header__select {
    border: none;
    text-transform: uppercase;
}

.header__nav {
    margin-right: 2rem;
    position: relative;
    font-weight: 400;
    font-size: 1.4em;
    z-index: 1;
}

.header__nav-wrapper {
    display: none;
    width: 150%;
    position: absolute;
    top: -1rem;
    left: -2rem;
    padding: 4rem 2rem 2rem 2rem;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    background-color: #ffffff;
    z-index: -1;
}

.header__nav:hover .header__nav-wrapper {
    display: block;
}

.header__nav-link {
    border-bottom: 1px dashed #737373;
}

.header__list {
    list-style: none;
}

.header__list-item {
    margin: 1rem 0;
}

.header__list-item-link {
    color: #1a202c;
}

.header__list-item-link_yellow {
    color: #ceb436;
}

.footer__list {
    display: flex;
}

.logo {
    position: relative;
}

.logo__link-pic {
    position: relative;
    left: -7.5em;
}

.hero__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.statistics {
    padding: 8em 5em;
    min-width: 24em;
    background-color: #715a77;
}

.statistics__title {
    display: block;
    font-weight: 900;
    font-size: 3.6em;
    color: #f7fafc;
    line-height: 0.8;
}

.statistics__column {
    position: relative;
}

.statistics__column_summary::before,
.statistics__column_job:before,
.statistics__column_company:before {
    content: '';
    position: absolute;
    top: 0.1rem;
    left: -3rem;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
}

.statistics__column_summary:before {
    background-image: url("../images/ico-summary.png");
}

.statistics__column_job:before {
    background-image: url("../images/ico-job-openings.png");
}

.statistics__column_company:before {
    background-image: url("../images/ico-company.png");
}

.statistics__subtitle {
    display: block;
    margin-top: 0.3em;
    margin-bottom: 4.4em;
    color: #e1dde2;
    font-size: 1.6em;
}

.statistics__subtitle_mb {
    margin-bottom: 0;
}

.hero__link {
    font-weight: 700;
    font-size: 1.6em;
    padding: 0.7em 3em;
    text-decoration: none;
    color: #f7fafc;
}

.hero__link_yellow {
    margin-right: 1rem;
    background-color: #ceb436;
}

.hero__link_purple {
    background-color: #715a77;
}

.hero {
    margin-bottom: 5em;
    background-color: #1a202c;
}

.hero__slider {
    padding: 8em 0;
}

.hero__title {
    max-width: 15em;
    margin-top: 4.2em;
    line-height: 1;
    font-size: 6em;
    font-weight: 900;
    color: #f7fafc;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search {
    margin-bottom: 5em;
}

.search__box {
    display: flex;
}

.search__input {
    width: 100%;
    font-weight: 400;
    padding: 1em;
    font-size: 1.4em;
    border: 1px solid #1a202c;
}

.search__button {
    width: 100%;
    max-width: 24rem;
    border: none;
    background-color: #1a202c;
    cursor: pointer;
}

.simple__button {
    display: block;
    margin: 1em 0;
    font-weight: 400;
    font-size: 1.4em;
    background: none;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

.section__title {
    margin-bottom: 0.8em;
    font-weight: 900;
    font-size: 3.4em;
}

.section__title_sm {
    font-size: 2.4em;
}

.section__title-link,
.footer__nav-item-link {
    position: relative;
    text-decoration: none;
    color: #1a202c;
}

.section__title-link:before,
.footer__nav-item-link:before {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    width: 100%;
    height: 1px;
    background-color: #cbd5e0;
}

.footer__nav-item-link:before {
    bottom: 0.3rem;
}

.footer__nav-item {
    list-style-type: none;
}

.vacancy__cover,
.summary__cover {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-size: cover;
    background-color: #ffffff;
}

.vacancy__item {
    width: 100%;
    max-width: 25%;
    min-width: 25%;
    margin: 0 1em;
    padding: 4em 3em;
    background-color: #faf8f8;
}

.vacancy__item_m0 {
    margin: 0;
}

.vacancy__item_opacity {
    opacity: 0.5;
}

.vacancy__item_border {
    border: 1px solid #ceb436;
}

.vacancy__link,
.summary__data-link {
    display: block;
    max-width: 50rem;
    margin-bottom: 1.8em;
    font-weight: 400;
    text-decoration: none;
    color: #1a202c;
    font-size: 1.7em;
}

.vacancy__link:first-letter,
.summary__data-link:first-letter {
    text-transform: uppercase;
}

.summary__data {
    margin-left: 2em;
    flex: 2;
}

.summary__data-link_mb {
    margin-bottom: 1em;
}

.summary__cover_mb {
    margin-bottom: 0;
}

.vacancy__meta,
.summary__meta-text {
    display: block;
    color: #717070;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 0.9;
}

.vacancy__list {
    display: flex;
    justify-content: flex-start;
    margin: 0 -1em 5em !important;
}

.vacancy__link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.vacancy__meta {
    padding: 0 0 0.5rem 0;
    margin-bottom: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.vacancy__meta-link {
    text-decoration: none;
    color: #737373;
    font-size: 1.4rem;
}

.vacancy__meta-link:hover {
    text-decoration: underline;
}

.vacancy__meta-city::after {
    content: ', ';
}

.vacancy__meta-city:last-child::after {
    content: none;
}

.summary__meta-text {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.summary__meta-text:after {
    content: ', ';
    position: absolute;
}

.summary__meta-text:last-child:after {
    content: none;
}

.vacancy__data {
    margin-top: 3em;
}

.price {
    display: flex;
    margin-left: 5em;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.vacancy__price-number,
.price__number {
    font-weight: 900;
    font-size: 1.6em;
    color: #1a202c;
}

.price__currency,
.vacancy__currency {
    margin: 0 0.5rem;
    font-weight: 400;
    color: #5f5e5e;
    font-size: 1.4em;
}

.price__currency:first-child,
.vacancy__currency:first-child {
    margin-left: 0;
}

.banner__link-images {
    width: 100%;
}

.summary {
    margin: 5em 0;
}

.summary__list {
    display: flex;
    margin: 0 -1em;
    flex-wrap: wrap;
}

.summary__item {
    margin: 1em;
    padding: 2em 1.5em;
    width: calc(50% - 2em);
    display: flex;
    justify-content: space-between;
    background-color: #faf8f8;
}

.summary__item_yellow {
    border: 1px solid #ceb436;
}

.summary__item_full {
    width: 100%;
    margin: 0 0 2em 0;
}

.summary__item_opacity-50 {
    opacity: 0.5;
}

.summary__item_opacity-25 {
    opacity: 0.25;
}

.summary__cover {
    width: 5em;
    height: 5em;
    position: relative;
}

.summary__cover-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.summary__cover-pic_cover {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
}

.partners {
    margin: 5em 0;
}

.partners__list {
    display: flex;
    margin: 0 -1em;
    flex-wrap: wrap;
}

.partners__item {
    width: calc(33% - 2em);
    display: flex;
    padding: 1.5rem 0;
    border-bottom: 1px solid #faf8f8;
    margin: 0 1em;
}

.partners__item-link {
    display: block;
    max-width: 69%;
    font-size: 1.4rem;
    color: #1a202c;
    text-decoration: none;
}

.partners__item-link:hover {
    text-decoration: underline;
}

.partners__cover {
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    margin-right: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #cbd5e0;
}

.partners__item-link-pic {
    font-size: 1.6em;
    text-decoration: none;
}

.about__info {
    display: block;
    max-width: 60%;
    margin-bottom: 1em;
    font-size: 1.4em;
    line-height: 2em;
    color: #676767;
}

.another {
    margin-top: 0.5rem;
    display: flex;
}

.another__text {
    font-size: 1.2rem;
    text-decoration: none;
    color: #737373;
}

.another__text--ml-mr {
    margin-left: 1rem;
    margin-right: 1rem;
}

.about__subtitle {
    display: block;
    max-width: 60rem;
    margin: 4rem 0 2rem;
    font-size: 2.1rem;
}

.about__full {
    display: none;
}

.more {
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.about__list {
    padding-left: 7rem;
}

.footer {
    margin-top: 5em;
    background-color: #faf8f8;
}

.footer__list {
    display: flex;
    padding: 5em 0 15em;
    justify-content: space-between;
}

.footer__subtitle {
    display: block;
    margin-bottom: 2em;
    font-size: 1.8em;
    font-weight: 700;
}

.footer__nav-item-link {
    display: inline-block;
    color: #1a202c;
    font-size: 1.4em;
    line-height: 2.25em;
}

.copy {
    width: 100%;
    padding-bottom: 5em;
}

.copy__link {
    display: block;
    position: relative;
    color: #1a202c;
    font-size: 1.2em;
    overflow-x: hidden;
}

.copy__link:before {
    right: -20em;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #715a77;
}

.copy__link:after {
    top: 1em;
    right: -20em;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #715a77;
}

.summary__date {
    display: block;
    text-align: right;
    font-weight: 400;
    font-size: 1.2em;
    color: #717070;
}

.filter {
    max-width: 30em;
}

.filter__reset {
    background-color: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    display: block;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.4rem;
    color: #1a202c;
}

.filter__option-subtitle {
    margin-bottom: 0.7em;
    display: block;
    font-weight: 700;
    font-size: 1.6em;
}

.filter__option {
    margin-bottom: 3.5em;
}

.filter__option-column {
    display: flex;
    margin-bottom: 1.25em;
}

.filter__option-title {
    display: block;
    width: 100%;
    margin-left: 0.5em;
    font-weight: 400;
    font-size: 1.4em;
    color: #1a202c;
    cursor: pointer;
}

.filter__option-title:hover {
    cursor: pointer;
}

.filter__option-ui {
    transform: scale(1.2);
}

.filter__button {
    width: 100%;
    padding: 0.8em 0;
    font-weight: 700;
    font-size: 1.6em;
    color: #faf8f8;
    background-color: #1a202c;
    cursor: pointer;
    border: none;
}

.cascade__grid {
    display: flex;
    margin-top: 5em;
}

.cascade__column_mw {
    max-width: 27em;
}

.cascade__column {
    flex: 1;
}

.cascade__column_ml {
    margin-left: 2.5em;
}

.attention {
    margin-bottom: 2em;
    background-color: #715a77;
    padding: 3em;
}

.attention__title {
    margin-bottom: 1em;
    font-size: 1.7em;
    font-weight: 700;
    color: #faf8f8;
}

.agreements {
    font-size: 1.2em;
    opacity: 0.85;
}

.attention__link {
    color: #ffffff;
}

.attention__text {
    font-size: 1.4em;
    color: #e7e4e8;
    line-height: 1.6em;
}

.description__grid {
    display: flex;
    margin: 0 -1em;
}

.description__column {
    margin: 0 1em;
    flex: 1;
}

.description__column_fl2 {
    flex: 2;
}

.description__badge {
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem;
    background-color: #efe8e8;
    color: #1a202c;
    font-size: 0.9rem;
}

.description__badge:after {
    right: -0.5rem;
}

.description__company-cover {
    margin-right: 1em;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.description__company-name {
    display: block;
    font-weight: 400;
    font-size: 1.4em;
    color: #737373;
}

.description__company-text {
    display: inline-block;
    font-weight: 400;
    font-size: 1.4em;
    color: #737373;
}

.description__company-text:after {
    content: ', ';
}

.description__company-text:last-child:after, .description__company-text_content {
    content: none !important;
}

.description__subtitle {
    display: block;
    font-weight: 700;
    font-size: 1.8em;
}

.description__subtitle_mb {
    margin-bottom: 1.66em;
}

.description__item {
    position: relative;
    padding: 0.5em 2em;
    font-weight: 700;
    font-size: 1.6em;
    list-style-type: none;
    border-bottom: 1px solid #e5e5e5;
}

.description__item-option {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 1em;
}

.description__item-option:after {
    content: ', ';
    position: absolute;
    bottom: 0;
}

.description__item-option:last-child:after {
    content: none;
}

.description__item:before {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    content: '';
    top: 1.3em;
    left: 0;
    transform: translateY(-35%);
    background-image: url("../images/list-ico.png");
    background-repeat: no-repeat;
}

.description__list {
    margin-top: 2em;
}

.description__user {
    padding: 3.5em 3em;
    border: 5px solid #ceb436;
}

.description__user-text {
    display: block;
    margin-bottom: 3em;
    font-weight: 400;
    font-size: 1.6em;
}

.description__user-link {
    color: #715a77;
}

.description__user-text_mb {
    margin-bottom: 0;
}

.description__other {
    margin-top: 5em;
}

.description__text {
    display: block;
    margin: 1em 0 2em;
    color: #1a202c;
    line-height: 1.875em;
    font-weight: 400;
    font-size: 1.6em;
}

.breadcrumbs {
    margin: 3em 0;
    position: relative;
    display: block;
    padding-left: 3em;
    font-weight: 400;
    font-size: 1.4em;
    color: #1a202c;
}

.breadcrumbs:before {
    content: '';
    position: absolute;
    width: 3em;
    height: 3em;
    left: 0;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
}

.description__price {
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background-color: #ceb436;
    color: #f7fafc;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: normal;
}

.description__profile-cover {
    width: 30rem;
    height: 30rem;
    margin-bottom: 1rem;
}

.description__profile-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.description__profile-title {
    display: block;
    font-size: 1.6em;
    font-weight: 900;
    color: #1a202c;
}

.description__profile-name {
    font-weight: 400;
    font-size: 1.6em;
    color: #1a202c;
}

.company__info {
    display: block;
    margin-bottom: 2.5em;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.7;
}

.rate__grid {
    display: flex;
    margin-bottom: 3em;
}

.rate__column {
    padding-right: 2rem;
    flex: 1;
}

.rate__column_fl2 {
    flex: 2;
}

.rate__column_fl3 {
    flex: 3;
}

.rate__text, .company__text {
    display: block;
    margin: 1em 0 3em;
    max-width: 27rem;
    font-size: 1.4em;
    line-height: 1.7em;
    color: #474747;
}

.company__text {
    margin: 0;
    color: #1a202c;
}

.company__text_grey {
    max-width: 20rem;
    line-height: 1;
    color: #a8a8a8;
}

.rate__banner {
    width: 100%;
    height: 15em;
    background-color: #faf8f8;
    border: 1px solid #715a77;
}

.company__grid {
    margin-bottom: 20em;
    display: flex;
}

.company__column {
    flex: 1;
}

.company__column_fl3 {
    flex: 3;
}

.company__link {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.4em;
    color: #1a202c;
}

.company__email {
    line-height: 0.5;
    text-decoration: none;
    font-weight: 900;
    font-size: 5.5em;
    color: #1a202c;
}

.rate__plan-list {
    margin-top: 3em;
}

.rate__wrapper {
    min-height: 8rem;
}

.rate__plan-list-item {
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: 400;
}

.rate__plan-price {
    display: block;
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.rate__slogan {
    margin-top: 3rem;
    display: block;
    font-size: 1.4em;
}

.rate__plan-wrapper {
    height: 100%;
    padding: 2.5em;
    border: 1px solid #1a202c;
}

.rate__plan-btn {
    display: block;
    width: 100%;
    padding: 0.8em 0;
    font-weight: 700;
    font-size: 1.6em;
    color: #faf8f8;
    background-color: #1a202c;
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
}

.rate__plan-price-sup {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.auth {
    margin: 0 auto;
    max-width: 70em;
}

.auth__ui-column {
    display: block;
    margin-bottom: 2em;
}

.auth__ui-label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 1.6em;
}

.auth__ui-label--relative {
    position: relative;
}

.auth__ui-ico {
    position: absolute;
    bottom: 1.5rem;
    right: 0;
}

.auth__ui-field {
    width: 100%;
    padding: 0.5em;
    font-weight: 400;
    font-size: 1.8em;
    color: #1a202c;
    border: none;
    border-bottom: 1px solid #a0aec0;
    background-color: white !important;
}

.auth__choose {
    display: flex;
    align-items: center;
}

.auth__choose-link {
    margin: 2em 2em 0 0;
    padding: 0.5em 2.5em;
    color: #1a202c;
    font-weight: 400;
    font-size: 1.4em;
    text-decoration: none;
}

.auth__choose-link_yellow {
    border: 1px solid #ceb436;
}

.auth__choose-link_purple {
    border: 1px solid #715a77;
}

.auth__forgot-link {
    display: block;
    margin-top: 1em;
    font-size: 1.4em;
    font-weight: 400;
    color: #1a202c;
}

.message {
    font-weight: 400;
    font-size: 1.4em;
    color: #d52f43;
}

.admin__grid {
    display: flex;
}

.admin__grid_bottom {
    align-items: flex-end;
    justify-content: flex-end;
}

.admin__column {
    padding: 1.5em 0;
    flex: 1;
}

.admin__column_fl2 {
    flex: 2;
}

.admin__column_border {
    border-bottom: 1px solid #a8a8a8;
}

.admin__input {
    width: 100%;
    display: block;
    padding: 0.5em;
    font-weight: 400;
    font-size: 1.9em;
    border: 1px solid #a8a8a8;
}

.admin__input_inline {
    width: auto;
    display: inline-block;
}

.admin__input_mw20 {
    max-width: 20%;
}

.admin__textarea {
    width: 100%;
    display: block;
    padding: 1em;
    font-weight: 400;
    font-size: 1.4em;
    border: 1px solid #a8a8a8;
}

.admin__input-file {
    padding: 0.5em 0;
    border: none;
}

.admin__label {
    display: block;
    margin-bottom: 0.25em;
    color: #1a202c;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 0.9;
}

.admin__label_inline {
    margin-left: 1rem;
    display: inline-block;
    cursor: pointer;
}

.admin__primary {
    display: inline-block;
    padding: 2rem 3rem;
    border: 1px solid #cbd5e0;
    box-shadow: 0px 0px 29px 0px rgba(34, 60, 80, 0.1);
}

.admin__subtitle {
    display: block;
    margin-bottom: 1em;
    font-weight: 900;
    font-size: 1.8em;
}

.admin__text {
    font-weight: 400;
    font-size: 1.6em;
    color: #1a202c;
}

.admin__text--small {
    font-size: 1.4rem;
    font-weight: 600;
}

.admin__btn-delete {
    margin-right: 1rem;
    font-weight: 400;
    font-size: 1.4em;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: #1a202c;
    opacity: 9;
}

.admin__small {
    font-size: 1.1rem;
    opacity: 0.5;
}

.profile__grid {
    display: flex;
    justify-content: space-between;
}

.profile__column {
    flex: 1;
    margin-right: 5em;
}

.profile__column_sm {
    max-width: 30em;
}

.profile__column_border {
    position: relative;
    border: 5px solid #715a77;
    width: 30em;
    height: 30em;
    min-width: 30em;
    min-height: 30em;
}

.profile__column_border::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35em;
    height: 1px;
    background-color: #a8a8a8;
    transform: translate(-50%, -50%) rotate(45deg);
}

.profile__column_border::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35em;
    height: 1px;
    background-color: #a8a8a8;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.profile__pic {
    width: 30em;
    height: 30em;
    object-fit: contain;
}

.profile__meta-text {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: 1.6em;
}

.profile__meta-link {
    color: #715a77;
}

.profile__summary {
    padding: 1em 0;
}

.profile__summary-link {
    font-weight: 400;
    font-size: 1.6em;
    color: #1a202c;
}


.profile__btn {
    display: block;
    width: 100%;
    padding: 0.8em 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.6em;
    color: #faf8f8;
    background-color: #1a202c;
    border: none;
    text-decoration: none;
}

.profile__badge {
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    font-size: 12px;
    color: #fff;
    background-color: #ceb436;
}

.pagination {
    font-weight: 700;
    font-size: 1.6em;
    text-decoration: none;
    color: #1a202c;
    list-style: none;
}

.pagination li {
    margin: 1em;
    display: inline-block;
}

.pagination li:first-child, .pagination li:last-child {
    display: none;
}

.pagination li.active {
    color: #ceb436;
}

.pagination li a {
    text-decoration: none;
    color: #1a202c;
}

.link__ico-pic {
    max-width: 2rem;
}

.btn__premium {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    padding: 0.5rem 1rem 0.5rem 0.7rem;
    background: none;
    border: none;
    font-weight: 400;
    font-size: 1.4rem;
    cursor: pointer;
    border: 1px solid #cbd5e0;
    border-radius: 2rem;
}

.btn__premium-ico {
    opacity: 1;
}

.btn__premium-ico_opacity {
    opacity: 0.3;
}

.btn__premium-text {
    padding-left: 0.5rem;
}

.btn__premium-text_opacity {
    opacity: 0.3;
}

.necessarily {
    position: relative;
    margin-bottom: 3rem;
    max-width: 50rem;
    background-color: #fde466;
    padding: 2.5rem;
}

.necessarily::after {
    position: absolute;
    content: '';
    top: 0;
    right: -3rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 63.5px 0 63.5px 30px;
    border-color: transparent transparent transparent #fde466;
}

.necessarily__subtitle {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.necessarily__text {
    font-size: 1.3rem;
}

@media screen and (max-width: 1100px) {
    .company__grid {
        margin-bottom: 5rem;
        flex-direction: column;
    }

    .company__column {
        margin-bottom: 4em;
    }

    .company__email {
        font-size: 3em;
    }
}


@media screen and (max-width: 880px) {
    .statistics {
        padding: 5em;
    }

    .hero__slider {
        padding: 5em 0;
    }

    .hero__title {
        margin-top: 3rem;
        font-size: 3.2em;
    }

    .statistics__title {
        font-size: 2.6em;
    }

    .vacancy__list, .footer__list, .partners__list {
        flex-wrap: wrap;
    }

    .vacancy__item:first-child, .vacancy__item:nth-child(2) {
        margin-bottom: 2em;
    }

    .vacancy__item {
        padding: 2em;
        width: calc(50% - 2em);
    }

    .footer__item {
        width: 100%;
    }

    .footer__nav-item-link {
        font-size: 1.2rem;
    }

    .partners__item {
        width: calc(33% - 2em);
    }

    .footer__subtitle {
        margin-bottom: 1em;
    }

    .footer__item {
        margin-bottom: 5em;
    }

    .description__grid {
        flex-direction: column;
    }

    .description__column {
        margin-bottom: 5em;
    }

    .cascade__grid {
        flex-direction: column;
    }

    .cascade__column_mw {
        margin-top: 5rem;
        order: 2;
    }

    .cascade__column_ml {
        margin-left: 0;
        order: 1;
    }

    .rate__grid {
        margin-bottom: 3em;
        flex-direction: column;
    }

    .rate__column {
        margin-bottom: 2em;
    }

    .rate__plan-wrapper {
        padding: 2em 2em 0 2em;
    }

    .company__email {
        font-size: 1.6em;
        text-transform: uppercase;
    }

    .company__column:first-child {
        margin-bottom: 2em;
    }

    .about__info {
        max-width: none;
        width: 100%;
    }

    .summary__item {
        padding: 1.5em;
    }

    .summary__cover, .summary__cover-pic_cover {
        width: 3.5rem;
        height: 3.5rem;
    }

    .price {
        margin-left: 0;
    }

    .admin__column {
        width: 100%;
    }

    .admin__column_border:first-child {
        border-bottom: 0;
    }

    .attention {
        padding: 2em;
    }

    .attention__title {
        font-size: 1.6em;
    }

    .attention__text {
        font-size: 1.2em;
    }

    .rate__slogan {
        margin-top: 0;
    }

    .rate__plan-list-item {
        margin-bottom: 1em;
    }
}


@media screen and (max-width: 770px) {
    .partners__item {
        width: calc(50% - 2em);
    }

    .hero__link {
        display: block;
        margin: 0;
        margin-bottom: 1em;
        text-align: center;
    }

    .summary__list {
        margin: 0;
        flex-direction: column;
    }

    .summary__item {
        margin: 0;
        margin-bottom: 2em;
        width: 100%;
    }

    .footer__nav-item-link:before {
        content: none;
    }

    .profile__column {
        margin-bottom: 3em;
    }

    .admin__grid, .profile__grid {
        flex-direction: column;
    }

    .partners__item-link-pic {
        width: 100%;
    }

    .vacancy__item {
        max-width: 100%;
    }

    .auth__choose {
        flex-direction: column;
    }

    .auth__choose-link {
        display: block;
        width: 100%;
        margin: 2rem 0 0;
        padding: 1rem 0;
        text-align: center;
    }

    .necessarily::after {
        content: none;
    }

}

@media screen and (max-width: 600px) {
    .another {
        margin-top: 0;
        display: block;
        text-align: center;
    }

    .statistics {
        display: none;
    }

    .logo__link-pic {
        max-width: 25rem;
        position: relative;
        left: 0;
    }

    .partners__item {
        width: 100%;
    }

    .header__box {
        flex-direction: column;
    }

    .header__meta {
        margin-top: 2rem;
    }

    .logo__link {
        display: block;
        text-align: center;
    }

    .search__button {
        max-width: 7rem;
    }

    .vacancy__list {
        padding-bottom: 0;
        margin: 0 0 5em 0;
    }

    .vacancy__item {
        width: 100%;
        margin: 0 0 2em 0;
    }

    .description__other {
        margin-top: 0;
    }
}
